h1{
    text-align: center;
}
header{
    background-color:gainsboro;
    /* margin-bottom: 20px; */
    padding-bottom: 20px;
}
.controles{
    width: auto;
    text-align: center;
    justify-content:space-around;
}
.flex{
    display: inline;
    width: 170px;
}
#formulario{
    position: fixed;
    display: flex;
    background-color: goldenrod;
    transform: translateY(-500%);
    transition: all 0.8s ease;
    height: 200px;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}
